<%- include('../partials/meta.ejs') %>
<%- include('../partials/_nav.ejs') %>
<% if (user) { %>
<div class="container">
    <div class="applications-container">
        <div class="app-container">
                <li><span>Company:</span> <%= app?.company %></li>
                <li><span>Title:</span> <%= app?.title %></li>
                <li><span>Notes:</span> <%= app?.notes %></li>
                <li><span>Posting Link:</span> <%= app?.postingLink %></li>
                <li><span>Status:</span> <%= app?.status %></li>                    
             <div class="btn-container">
                 <a class="btn" href="/users/:userId/applications/:applicationId/edit">edit</a>
                 <form action="/users/<%= user._id %>/applications/<%= app._id %>?_method=DELETE" method="POST">
                    <button class="btn" type="submit">Delete</button>
                 </form>
             </div>  
        </div>  
    </div>
</div>
<% } %>
</body>
</html>
